<body>
    <a href="/">Home</a>
  	<a href="/about">About</a>
  	<a href="/blog">Blog</a>

    <h1>This is a blog page</h1>
    <p>This is where I'm going to try to document my journey learning Astro</p>
</body>