---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Greetings } from "../components/Greeting";
import '../styles/global.css';
const pageTitle = "Home page";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<Greetings client:load messages={["Hi", "Hello", "Houdy", "Hola", "Hey there"]}/>
</BaseLayout>
